.cat-item img{
    width: 100px;
}
.cat-item{
    margin: 20px 20px 20px 0;
    cursor: pointer;
    width:120px;
}
.cat-item p {
    font-size: 14px;
}

@media (max-width:750px) {
    .cat-item{
        margin: 10px 80px 20px 0px;
        cursor: pointer;
        width: 72px;
    }
    .cat-item img{
        width: 100px;
    }
}

@media (min-width:300px) and (max-width:700px) {

    .cat-item{
        margin: 10px 0px 10px 10px;
        cursor: pointer;
        text-align: center;
    }
    .cat-item p {
        font-size: 14px;
        word-wrap: break-word;
       
    }
    .cat-item img{
        width: 72px;
    }
}